{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link href="{% static 'blogs/css/style.css' %}" rel="stylesheet" />
    <title>Blog App</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1></h1>
        <nav>
          <ul class="parent-container">
            <li class='parent-item'>
              <h2><a href="{% url 'blogs:index' %}">Home</a></h2>
            </li>
            <li class='parent-item'>
              <h2 class="add "><a href="{% url 'blogs:create' %}" class="act">Add Post</a><h2/>
            </li>
          </ul>
        </nav>
      </header>
      <div class="content">
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
