{% extends 'blogs/base.html' %} {% block content %}
<h1>{{ object.title }}</h1>
<section class="post-text">
  {{ object.text|linebreaksbr }}
</section>
<section class="post-date">
  <p>
    Created:&nbsp;{{ object.created_at }}
  </p>
</section>
<section class="post-edit title">
  <a class="act margin-15" href="{% url 'blogs:update' post.pk %}">Edit</a>
  <a class="act margin-15" href="{% url 'blogs:delete' post.pk %}">Delete</a>
</section>
<section>
  <p class="title margin-15">
    <a href="javascript:history.back()">&lt; Back</a>
  </p>
</section>
{% endblock %} © 2020 GitHub, Inc.
